################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.gitignore
/obj/Debug/net6.0/SCECorePlus.assets.cache
/obj/Debug/net6.0/SCECorePlus.csproj.AssemblyReference.cache
/obj/Debug/net6.0/SCECorePlus.GeneratedMSBuildEditorConfig.editorconfig
/nuget.config
